In [27]:
print("tanushi yadav")

tanushi yadav

In [28]:
print(1,2,3)

1 2 3

In [29]:
print('brahmastra',2022)

brahmastra 2022

In [30]:
print('this is a line')
print('another line')
print('and the final text line')

this is a line
another line
and the final text line

In [31]:
a=10
print(a)

10

In [32]:
a=10
print('a')

a

In [33]:
city='lucknow'
state='uttar pradesh'
name='adam'
name='randolf'

In [34]:
n1,n2='ajay','vijay'

In [35]:
food=input()
print(food)

12

In [36]:
a='apple'
type(a)

str

In [37]:
a=101
type(a)

int

In [38]:
a='300+'
print(a,type(a))
a=int(a)

300+ <class 'str'>

ValueError: invalid literal for int() with base 10: '300+'

In [39]:
num1=int(input("enter num"))
num2=int(input("enter num 2"))
ans=num1*num2
print(ans)

252