In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)
print(11)
print(12)
print(13)
print(14)
print(15)
print(16)
print(17)
print(18)
print(19)
print(20)
print(21)
print(22)
print(23)
print(24)
print(25)
print(26)
print(27)
print(28)
print(29)
print(30)
print(31)
print(32)
print(33)
print(34)
print(35)
print(36)
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)

LOOPS

FOR LOOP

In [1]:
x=[0,2,1,3,6,10]
for i in x:
    print(i)

0
2
1
3
6
10

In [3]:
colors=['red','pink','purple']
for val in colors:
    print(f'we got{val}')

we gotred
we gotpink
we gotpurple

In [6]:
for i in range(1,31):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [8]:
for i in range(1,11):
    print(f'2 x {i} = {2 * i}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

range(10)    | 0-9
range(5,10)   |5-9
range(1)

In [2]:
for i in range(1,100,5):
    print(i, end=' ')

1 6 11 16 21 26 31 36 41 46 51 56 61 66 71 76 81 86 91 96

In [3]:
for i in range(10,0,-1): #(range,range,operation)
    print(i, end=' ')

10 9 8 7 6 5 4 3 2 1

In [4]:
veg = ['potato', 'tomato', 'onion','cabbage','carrot']
for item in veg:
    print(item)

potato
tomato
onion
cabbage
carrot

enumerate()

In [5]:
for item in enumerate(veg):
    print(item)

(0, 'potato')
(1, 'tomato')
(2, 'onion')
(3, 'cabbage')
(4, 'carrot')

correct version of enumerate

In [6]:
for index, value in enumerate(veg):
    print(index,'got',value)

0 got potato
1 got tomato
2 got onion
3 got cabbage
4 got carrot

zip

In [9]:
veg = ['potato','tomato','onion','cabbage','carrot']
prices=[35,80,30,15,30]

non pythonic way

In [11]:
for i in range(len(veg)):
    print(f'{veg[i]} -------{prices[i]}')

potato -------35
tomato -------80
onion -------30
cabbage -------15
carrot -------30

pythonic way

In [12]:
for v,p in zip(veg,prices):
    print(f'{v} --------{p}')

potato --------35
tomato --------80
onion --------30
cabbage --------15
carrot --------30

#wap to print the following

In [15]:
title = ['thank god','ram setu','doctor g','goodbye']
rating= ['3','4','2','5']
year= ['2022','2022','2022','2022']
director = ['indrakumar','abhishek','anubhuti','vikas']
for t,r,y,d in zip(title,rating,year,director):
    print(f'{t}, {r}, {y} ,{d}')

thank god, 3, 2022 ,indrakumar
ram setu, 4, 2022 ,abhishek
doctor g, 2, 2022 ,anubhuti
goodbye, 5, 2022 ,vikas

nested loop

In [16]:
for i in range(10):
    for i in range(10):
        print(i,end=' ')
    print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

break and continue

In [19]:
x = [1,2,3,4,0,0,5]

In [20]:
for i in x:
    if i ==0:
        break#for finding a value, to stop the loop
    print(i)

1
2
3
4

In [21]:
x=[1,2,0,3,4,0,0,5]
for i in x:
    if i == 0:
        continue#for skipping a value
    print(i)

1
2
3
4
5

In [22]:
for i in x:
    if i != 0:
        print(i)

1
2
3
4
5

In [23]:
num = 18
for i in range(2,num):
    if num%i==0:
        print('not prime')
        break
else: #else block will only execute if the loop is not broken
    print('prime')

not prime

In [25]:
for num in range(1,100):
    if num == 1:
        continue
    for i in range(2,num):
      if num % i == 0:
        break
    else:
        print(num, end =" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

while

In [29]:
x = 10
while x>0:
    print(x)
    x-= 2

10
8
6
4
2

In [36]:
total=0
while True:
    num = int(input('enter a number:  '))
    if num == 0:
        break
    total += num 
print(f'Total is {total}')

Total is 0