In [1]:
name = 'tanushi yadav'
print(len(name))

13

In [2]:
for idx,char in enumerate(name):
    print(idx,char)

0 t
1 a
2 n
3 u
4 s
5 h
6 i
7
8 y
9 a
10 d
11 a
12 v

In [3]:
print(name[8:13])

yadav

In [4]:
print(name[-5:-1])

yada

In [5]:
print(name[0:7])

tanushi

slicing syntax
var[start:stop:step] where step is not necessary

In [6]:
#all the even characters of string
print(name[::2])

tnsiydv

In [7]:
#all the odd characters of string
print(name[1::2])

auh aa

In [8]:
#reverse the string
print(name[::-1])

vaday ihsunat

In [11]:
print(name[::-2])

vdyisnt

In [12]:
print(name[2:11])

nushi yad

In [13]:
word = 'racecar'
print(word[:-3])

race

In [14]:
x= chr(65)
print(x)

A

In [15]:
x= chr(60)

In [19]:
print(chr(29301))

ç‰µ

In [21]:
y=ord('A')
print(y)

65

In [22]:
y=ord('a')
print(y)

97

In [23]:
y = ord('{')
print(y)

123

concatenation

In [25]:



w1='this'
w2='is'
w3='amazing'
msg=w1 + w2 + w3
print(msg)

thisisamazing

In [26]:
a='apple'
b='juice'
ab=a+b
print(ab)

applejuice

In [29]:
#adding space b/w string
msg= w1+' '+w2+' '+w3
print(msg)

this is amazing

multiplication

In [30]:
word="hi"
print(word * 3)

hihihi

In [32]:
print("-"*1000)

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [34]:
print("----"*10)
print("journey before destination".center(30))
print('-X'*10)

----------------------------------------
  journey before destination
-X-X-X-X-X-X-X-X-X-X

pattern printing

In [35]:
for i in range(1,6):
    print(i* '*')

*
**
***
****
*****

In [37]:
for i in range(1,15,2):
    print((i*' * '.center(45)))

                      *
                      *                                            *                                            *
                      *                                            *                                            *                                            *                                            *
                      *                                            *                                            *                                            *                                            *                                            *                                            *
                      *                                            *                                            *                                            *                                            *                                            *                                            *                                            *                                            *
                      *                                            *                                            *                                            *                                            *                                            *                                            *                                            *                                            *                                            *                                            *
                      *                                            *                                            *                                            *                                            *                                            *                                            *                                            *                                            *                                            *                                            *                                            *                                            *

In [47]:
for i in range(1,15,2):
    print((i * ' tanu').center(100, '_'))

_______________________________________________ tanu________________________________________________
__________________________________________ tanu tanu tanu___________________________________________
_____________________________________ tanu tanu tanu tanu tanu______________________________________
________________________________ tanu tanu tanu tanu tanu tanu tanu_________________________________
___________________________ tanu tanu tanu tanu tanu tanu tanu tanu tanu____________________________
______________________ tanu tanu tanu tanu tanu tanu tanu tanu tanu tanu tanu_______________________
_________________ tanu tanu tanu tanu tanu tanu tanu tanu tanu tanu tanu tanu tanu__________________

In [4]:
for i in range(1,15,2):
    if (i==1 or i==5 or i==9 or i==13):
       print(('*'*i).center(70,' '))
    else:
       print(('0'*i).center(70,' '))

                                  *
                                 000
                                *****
                               0000000
                              *********
                             00000000000
                            *************