tuple

tuple with mixed datatypes

In [1]:
my_tuple = (1,"hello",3.4)
print(my_tuple)

(1, 'hello', 3.4)

nested tuple

In [2]:
my_tuple = ("mouse",[8,4,6],(1,2,3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

a tuple can be also made without using paranthesis,
this is known as tuple packing

In [3]:
my_tuple = 3,4.6,"apple"
print(my_tuple)

(3, 4.6, 'apple')

INDEXING

accessing tuple elements using indexing

In [4]:
my_tuple=('p','e','r','m','i','t')
print(my_tuple[0])
print(my_tuple[5])

p
t

nested tuple

In [5]:
n_tuple=("mouse",[8,4,6],(1,2,3))
print(n_tuple[0][3])
print(n_tuple[1][1])

s
4

SLICING

In [6]:
my_tuple=('e','x','c','a','l','i','b','u','r')

ELEMENTS 2TH TO 4TH

In [7]:
print(my_tuple[1:4])

('x', 'c', 'a')

In [8]:
print(my_tuple[:-7])

('e', 'x')

In [9]:
print(my_tuple[7:])

('u', 'r')

In [10]:
print(my_tuple[:])

('e', 'x', 'c', 'a', 'l', 'i', 'b', 'u', 'r')

concatenation

In [11]:
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [12]:
print(("repeat",)*3)

('repeat', 'repeat', 'repeat')

In [13]:
my_tuple = ('a','p','p','l','e')
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

SET

In [1]:
my_set={1,2,3}
print(my_set)

{1, 2, 3}

In [2]:
my_set={1.0,"oye",(1,2,3)}
print(my_set)

{'oye', 1.0, (1, 2, 3)}

In [3]:
my_set={1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [4]:
my_set= set([1,2,3,2])
print(my_set)

{1, 2, 3}

set cannot have muttable items, hence it will show an error

In [5]:
my_set = {1,2,[3,4]}

TypeError: unhashable type: 'list'

creating an empty set

In [6]:
a=set()

set functions

In [8]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [9]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [10]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [11]:
A.intersection(B)

{4, 5}

In [12]:
print(A & B)

{4, 5}

In [13]:
print(A-B)

{1, 2, 3}

In [15]:
A.difference(B)

{1, 2, 3}

In [16]:
B-A

{6, 7, 8}

set symmetric difference

In [18]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [19]:
print(A^B)

{1, 2, 3, 6, 7, 8}

In [20]:
a = {'mobile','tv','fan'}
b = {'laptop','tv','microwave','mouse'}

In [22]:
a.symmetric_difference(b)

{'fan', 'laptop', 'microwave', 'mobile', 'mouse'}

In [23]:
print(a-b)

{'fan', 'mobile'}

In [24]:
print(a|b)

{'fan', 'laptop', 'mobile', 'tv', 'mouse', 'microwave'}

In [25]:
print(a & b)

{'tv'}